!!! 5
html(lang="en")
  head
    title Blurt!
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", type="text/css", href="css/main.css")
    link(rel="stylesheet", href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css")
    script(src="http://code.jquery.com/jquery-1.6.4.min.js")
    script(src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js")
    script(src="js/blurt.js")
  body
    div(data-role="page", data-theme="a")
      div(data-role="content")
        #Form
          textarea(name="message", id="Blurt", cols="60", rows="2", data-theme="c")
          input(type="button", value="Blurt it!", onclick="postMessage()", data-icon="star", data-theme="b").
        ul#Messages(data-role="listview", data-theme="d", data-dividertheme="a")